{% extends "layout.html.twig" %}
{% block contenu %}
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Récapitulatif de la commande N° {{ commande.id }}</h3><br><br>


		<table id="cart" class="table table-hover table-condensed">
			<thead>
			<tr>
				<th style="width:10%">N° de commande</th>
				<th style="width:20%">Date d'achat</th>
				<th style="width:15%">Montant total</th>
				<th style="width:15%">Etat</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td data-th="Product">
						<div class="row">
							{#<div class="col-sm-2 hidden-xs"><img src="{{ asset('assets/img/')}}{{ produit.photo }}" class="img-responsive"/></div>#}
							<div class="col-sm-10">
								<h4 class="nomargin">{{commande.id}}</h4>
							</div>
						</div>
					</td>
					<td data-th="Prix">{{commande.date_achat}}</td>
					<td data-th="Date">{{commande.prix}} €</td>
					<td data-th="Date">{{commande.libelle}}</td>
				</tr>
				{#{% set total = total + produit.prix * produit.qte %}#}
			</tbody>

		</table>

		{##}
		<h3><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Articles</h3><br><br>

		<table id="cart" class="table table-hover table-condensed">
			<thead>
			<tr>
				<th style="width:50%">Produit</th>
				<th style="width:10%">Prix</th>
				<th style="width:8%">Quantité</th>
				<th style="width:22%" class="text-center">Sous-total</th>
			</tr>
			</thead>
			<tbody>


			{% set total = 0 %}
			{% for produit in produits if produits is not empty %}
			<tr>
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="{{ asset('assets/img/')}}{{ produit.photo }}" class="img-responsive"/></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{produit.nom}}</h4>
							<p> Type : {{produit.libelle}}</p>
						</div>
					</div>
				</td>
				<td data-th="Prix">{{produit.prix}} €</td>
				<td data-th="Quantité">{{produit.quantite}} pièces</td>
				<td data-th="Subtotal" class="text-center">{{ produit.prix * produit.quantite }} €</td>


			</tr>
				{% set total = total + produit.prix * produit.quantite %}
			{% endfor %}
			</tbody>
			<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>{{ total }}</strong></td>
			</tr>
			<tr>
				<td><a href="{{ path('admin.commande.show')}}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Revenir aux commandes</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong> Total {{ total }} €</strong></td>
			</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}

