{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="container">
        {{ form_widget(form) }}
	{#<form method="post" action="{{ path("admin.produit.validFormEdit", {id: donnees.id}) }}">#}
		{#<div class="form-group">#}
			{#<fieldset>#}
				{#<legend>Modifier un joueur </legend>#}
                {#{% if errors is defined %}#}
					{#<div data-alert class="alert-box alert round">#}

                        {#{% for key,error in errors %}#}
							{#<li> {{ error.getPropertyPath }} : {{ error.message }}</li>#}
                        {#{% endfor %}#}

						{#<a href="#" class="close">&times;</a>#}
					{#</div>#}
                {#{% endif %}#}
				{#<input name="token"  type="hidden"  value="{{ token }}"/>#}
				{#<input name="id"  type="hidden" value="{{donnees.id}}" />#}
				{#<div class="form-group">#}
					{#<label for="formGroupExampleInput">Nom :</label>#}
					{#<input type="text" name="nom" class="form-control" id="formGroupExampleInput" value="{{donnees.nom}}">#}
				{#</div>#}
				{#<div class="form-group">#}
					{#<label for="formGroupExampleInput2">Prix</label>#}
					{#<input type="text" name="prix" class="form-control" id="formGroupExampleInput2" value="{{donnees.prix}}">#}
				{#</div>#}
				{#<div class="form-group">#}
					{#<label for="formGroupExampleInput">Photo :</label>#}
					{#<input type="text" name="photo" class="form-control" id="formGroupExampleInput" value="{{donnees.photo}}">#}
				{#</div>#}
				{#<div class="form-group">#}
					{#<label for="formGroupExampleInput2">Type de produits</label>#}
					{#<select nam class="form-control input-lg" name="typeProduit_id">#}
                        {#{% for typeProduit in typeProduits %}#}
							{#<option value="{{ typeProduit.id }}"#}
                                    {#{% if typeProduit.id == donnees.typeProduit_id %}selected{% endif %}>#}
                                {#{{ typeProduit.libelle }}#}
							{#</option>#}
                        {#{% endfor %}#}
					{#</select>#}
				{#</div>#}
				{#<input type="submit" name="modifierProduit" value="Modifier" />#}
			{#</fieldset>#}
		{#</div>#}
	{#</form>#}
	</div>
{% endblock %}
